* {box-sizing: border-box; -moz-box-sizing: border-box;}
body {font: 100% Arial, Verdana, Helvetica; background-image: url('../bg-top-banner.gif'); color: #000; padding: 0; margin: 0; text-align: center;}
td, th, small {font-size: 11px;}
form {margin: 0;}
input, select {font-size: 100%;}
textarea {font-size: 11px;}
label {cursor: hand;}
a {color: #039; text-decoration: none;}
a:hover, a:active {text-decoration: underline !important;}
a.sel {color: #f00; text-decoration: underline !important;}

#top {width: 1000px; text-align: left; margin-left: auto; margin-right: auto;}
.top-banner {text-align: center; padding: 5px 0 5px 0; background-color: #fff;}

#container {width: 1000px; background-color: #FFF; text-align: left; margin-left: auto; margin-right: auto;}

.top-menu-g {font-size: 75%; font-weight: bold; color: #fff; background-image: url('../bg-top-menu-g.gif'); padding: 0 5px 0 5px; border-bottom: 1px solid #000;}
.top-menu-g a {color: #fff; margin: 0 5px 0 5px;}
.top-menu-d {background-image: url('../bg-top-menu-r.gif'); border-bottom: 1px solid #000;}
.top-menu-d img {width: 32px; height: 31px; border: 0;}
.top-menu-r {font-size: 75%; font-weight: bold; color: #fff; background-image: url('../bg-top-menu-r.gif'); padding: 0 5px 0 5px; border-bottom: 1px solid #000;}
.top-menu-r a {color: #fff; margin: 0 5px 0 5px;}

.logo {width: 136px; height: 76px; border: 0;}
.rubric {background-image: url('../bg-rubric.gif'); height: 38px; text-align: center; padding: 0 10px 0 10px;}
.rubric a {color: #FFF; font-size: 110%; font-weight: bold;}
.rubric-r {background-image: url('../bg-rubric-r.gif'); height: 38px; text-align: center; padding: 0 10px 0 10px;}
.rubric-r a {color: #FFF; font-size: 110%; font-weight: bold;}
.rubric-c-l, .rubric-c-r {background-image: url('../bg-rubric.gif'); width: 1px;}
.rubric-c-l img, .rubric-c-r img, .rubric-c-r-r img {width: 1px; height: 38px; border: 0;}
.rubric-c-r-r {background-image: url('../bg-rubric-r.gif'); width: 1px;}

.rubric-delim {width: 37px; height: 38px;}
.search-block {background-image: url('../bg-search-block.gif'); padding: 0 5px 0 5px;}
.search-title {width: 37px; height: 11px;}
.bg-sub-rubric {background-image: url('../bg-sub-rubric.gif');}
.main-tbl {width: 1000px; margin-top: 5px;}

.rss-block {background-image: url('../bg-search-block.gif'); padding-right: 5px;}
.rss-block img {border: 0; width: 14px; height: 14px; margin-left: 10px;}
.rss-block a {color: #fff; font-weight: bold;}

.bg-title {background-image: url('../bg-title.gif'); font-size: 80%; font-weight: bold;}
.bg-title a, .bg-title span {margin: 0 5px 0 5px; color: #fff;}
.btn-arrow {width: 24px; height: 24px; border: 0; margin: 0;}
div.block-g {padding: 10px; background-image: url('../pix-lg.gif'); margin-bottom: 5px;}
div.block {padding: 10px; margin-bottom: 5px;}
table.block-g {padding: 10px; background-image: url('../pix-lg.gif'); margin-bottom: 5px;}
table.block {padding: 10px; margin-bottom: 5px;}
.adv {margin-bottom: 5px; text-align: center;}
a.link {padding: 1px 0 0 15px; background-image: url('../link.gif'); background-repeat: no-repeat;}
a.more {padding: 1px 0 0 15px; background-image: url('../link.gif'); background-repeat: no-repeat;}

/* Заголовки */
h1 {font-size: 150%; font-weight: bold; padding: 0; margin: 0 0 10px 0;}
h2 {font-size: 140%; font-weight: bold; padding: 0; margin: 0;}
h3 {font-size: 130%; font-weight: bold; padding: 0; margin: 0;}
h4 {font-size: 120%; font-weight: bold; padding: 0; margin: 0;}
h5 {font-size: 110%; font-weight: bold; padding: 0; margin: 0;}

/* Привьюхи */
img.tn {border: 0; margin: 0 5px 5px 0; width: 50px; height: 50px; float: left; border: 1px solid #000;}
img.tn-cover {width: 160px; border: black 1px solid;}
img.tn-foto {width: 75px; height: 75px; border: 1px solid #000; margin: 0 10px 5px 0; float: left;}
img.tn-video {border: 0; margin: 0 5px 5px 0; width: 75px; float: left; border: 1px solid #000;}

.title-b {background-image: url('../title-b.gif');}
.title-b img {width: 5px; height: 20px; border: 0;}
.bg-title-2 {background-image: url('../bg-title-2.gif'); font-size: 80%; font-weight: bold; color: #f33; padding: 0 5px 0 5px;}
.bg-title-2 a {color: #f33;}

.bottom-banner {text-align: center; padding: 10px 0 10px 0;}

.bg-on-footer {background-image: url('../bg-on-footer.gif');}
.copy {background-image: url('../bg-bot-g.gif'); border-top: 1px solid #000; font-size: 70%; color: #fff; padding: 10px;}
.copy a {color: #fff; text-decoration: underline !important;}
.sites {background-image: url('../bg-bot-r.gif'); border-top: 1px solid #000; font-size: 70%; color: #fff; padding: 10px;}
.sites a {color: #fff; text-decoration: underline !important;}

ul.list {margin: 10px 0 10px 10px; padding-left: 5px;}

/* Список ссылок */
ul.list-links {margin: 0 0 0 11px; padding-left: 5px;}
ul.list-links li {font-weight: bold; list-style-image: url('../link.gif');}



blockquote {font-size: 90%; background-image: url('../pix-lg.gif'); padding: 10px; margin: 10px 0 0 0;}
blockquote ul {margin-left: 20px;}
blockquote ol {margin-left: 25px;}





/* Таблица в статье */
.tbl {width: 100%; margin: 10px 0 5px 0; padding: 0; border-collapse: collapse;}
.tbl th {border: 1px solid #CCC; padding: 3px; vertical-align: top; background-image: url('../pix-lg.gif');}
.tbl td {border: 1px solid #CCC; padding: 3px; vertical-align: top;}

/* Изображение проверки кода */
img.captcha {width: 180px; height: 40px; border: 0;}

/* Серая линия разделитель */
img.break {border: 0; margin: 10px 0 10px 0; width: 100%; height: 1px;}

/* Звездочка в обязательных полях */
.rs {color: red; font-size: 140%; font-weight: bold; line-height: 10px;}
.starrequired {color: red; font-size: 140%; font-weight: bold; line-height: 10px;}

/* Сообщения об ошибках */
.rmsg {color: red; font-weight: bold; text-align: center;}

/* Таблица в статье с ссылками на сервисы */
.tbl-link-services {width: 100%; margin: 0; padding: 0; border-collapse: separate; border-spacing: 5px; background-image: url('../pix-lg.gif');}
.tbl-link-services img {width: 16px; height: 16px; border: 0;}

/* Таблица в статье с привьюшками */
.tbl-tn-list {width: 150px; margin: 10px 0 10px 10px; padding: 0; border-collapse: separate; border-spacing: 5px; background-image: url('../pix-lg.gif'); float: right;}
.tbl-tn-list img {width: 150px; border: black 1px solid;}

/* Таблица с увеличенным изображением и привьюшками */
.tbl-big-picture {width: 150px; margin: 10px 0 10px 0; padding: 0; border-collapse: separate; border-spacing: 5px; background-color: #F3F3F3;}
.tbl-big-picture img {border: black 1px solid;}
.tbl-big-picture-list {margin: 0; padding: 0; border-collapse: separate; border-spacing: 5px; background-color: #F3F3F3;}
.tbl-big-picture-list img {width: 150px; border: black 1px solid;}
.tbl-big-picture-list img.select {border: #d84a2c 3px solid;}

/* Текст с увеличенным шрифтом */
.article-text {font-size: 110%;}
.article-text h1 {font-size: 130%; margin-top: 15px;}
.article-text h2 {font-size: 120%; margin-top: 15px;}
.article-text h3 {font-size: 110%; margin-top: 15px; color: #000;}
.article-text h4 {font-size: 105%; margin-top: 10px;}
.article-text h5 {font-size: 90%; margin-top: 10px;}

.article-text table {background-color: #FFF; width: 100%; border-collapse: collapse;}
.article-text table caption {font-size: 80%; font-weight: bold; padding: 3px;}
.article-text table th {border: 1px solid #000; background-image: url('../pix-lg.gif'); padding: 3px;}
.article-text table td {border: 1px solid #000; padding: 3px;}

.article-text .subtit {padding:10px; font-weight:bold; font-size:115%; background-image: url('../pix-lg.gif');}

/* Кнопки на сером фоне */
.btn-grey {background-image: url('../pix-lg.gif'); padding: 5px; margin: 10px 0 10px 0; text-align: center;}
.bg-grey {background-image: url('../pix-lg.gif');}

/* Заголовок на сером фоне */
.tit-grey {background-image: url('../pix-lg.gif'); padding: 5px; margin: 10px 0 10px 0; color: #000;}

/* Формы */
.100p {width: 100%;}
.200px {width: 200px;}

/* Логотип */
img.wp-logo-list {margin: 0 5px 0 0; width: 100px; height: 50px; float: left; border: 1px solid #000;}
img.wp-logo {margin: 0 5px 5px 0; width: 100px; height: 50px; float: left; border: 1px solid #000;}
img.wp-logo-last {border: 0; margin: 0 5px 0 0; width: 50px; height: 25px; float: left; border: 1px solid #000;}
img.logo-in-article {margin: 0 0 5px 5px; width: 100px; height: 50px; float: right; border: 1px solid #000;}

div.list-el {clear: both; margin-bottom: 20px;}

/* Блок со скролом */
.block-scroll {position: relative; width: 100%; overflow: auto; padding: 0; border: 1px solid #000;}















/* +++++++++++++++ Форум +++++++++++++++ */
.forumborder {padding: 0; border: 0; border-collapse: collapse; background-color: #d3eeee;}

/* Содержимое */
.forumbody {background-color: #FFF;}
.forumbodytext {color: #000; padding: 4px;}

/* Заголовок колонок */
.forumhead {background-color: #d3eeee;}
.forumheadtext {font-weight: bold;}

/* пл */
.forumfieldtext {color: #000;}

/* пл */
.postsep  {background-color: #9C9A9C; height: 1px}

.forumquote {color: #000000; background-color: #FBFBF9; border : 1px solid Black; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; text-indent: 2pt;}
.forumcode {color: #000000; background-color: #FBFBF9; border : 1px solid Black; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; text-indent: 2pt;}

/* Блок панели управления */
.forumtoolblock {}
.forumtoolbar {width: 100%; margin: 0; padding: 0; border-collapse: separate; border-spacing: 5px; background-color: #d3eeee; height: 23px;}

/* Секции в панели управления */
.forumtoolsection {}

/* Ссылки в панели управления */
.forumtoolbutton, .forummessbuttontext {}

/* Разделитель ссылок в панели управления */
.forumtoolseparator {}


.forumtitle {font-size: 80%; font-weight: bold;}
.forumtitletext {padding: 4px; color: #000000;}


.forumnewtopic_button {
	BACKGROUND: #d3eeee;
	border: 1px solid #d3eeee;
	COLOR: #000000;
	font-weight: bold;
	height: 25px;
	width: 170px;
}


.forumpostsep  {background-color: #ffffff; height: 6px}
.forumbrd {border: 1px solid #d3eeee;}
.forumbrd1 {border-left: 1px solid #d3eeee;}
.forumbrd2 {border: 1px solid #d3eeee;}

.forumheadcolor {color:#003366;}


.forummessbutton {
	background-color: #d3eeee; 
	border: 1px solid #d3eeee;
	height: 20px;
	padding-left:5px;
	padding-right:5px;
}

.forummessbuttonsep {width:4px;}

.forumhr {background-color:#eeedf5;}
.forumsigntext {color:#003366;}

DIV.out {
	BORDER-RIGHT: #99BAD7 1px solid; 
	PADDING-RIGHT: 1px; 
	BORDER-TOP: #99BAD7 1px solid; 
	DISPLAY: block; 
	PADDING-LEFT: 1px; 
	PADDING-BOTTOM: 1px; 
	MARGIN: 0px 15px; 
	BORDER-LEFT: #99BAD7 1px solid; 
	PADDING-TOP: 1px; 
	BORDER-BOTTOM: #99BAD7 1px solid; 
	POSITION: relative; 
	TOP: 4px; 
	BACKGROUND-COLOR: #ffffff
}
DIV.out1 {
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN-RIGHT: 10px; 
	PADDING-TOP: 0px; 
	POSITION: relative; 
	TOP: -9px
}
DIV.in {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	BACKGROUND-COLOR: #eeedf5
}
DIV.in1 {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
	FONT-WEIGTH: bold; 
	COLOR:#444444;
}


/*COMPONENT 2.0*/
/*only for a new style*/
table.forum-quote, table.forum-code {
	color: #000000; 
	background-color: transparent; 
	width:90%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:20px;
	margin-right:20px;
}
table.forum-quote th, table.forum-code th{
	font-weight:bold;
	text-align:left;
	border: 0px solid transparent;
	font-size:70%;
}
	
table.forum-quote td, table.forum-code td{
	border : 1px solid Black;
	background-color: #FBFBF9; 
	padding: 4px; 
	text-indent: 2pt;
	font-size:8pt;
}
	
table.forum-code {
	color: #333333; 
}

table.forum-smile {
	border: 1px solid #99BAD7;
	margin:0px;
	border-collapse:collapse;
	margin:0px;
}

table.forum-smile td {
	border: 0px solid #99BAD7;
	padding:5px;
	margin:0px;
}

table.forum-smile th {
	background-color:#CEDEEC;
	border: 1px solid #99BAD7;
	font-weight: bold;
	padding:4px;
	white-space:nowrap;
}

table.forum-smile img {
 	cursor:pointer;
 	cursor:hand;
}

/*only for a new style*/






div.graph-bar
{
	height:12px;
	font-size:12px;
	min-width:2px;
}